.bg {
  position: relative;
  background-image: url(./img1.jpg);
  width: 1555px;
  height: 760px;
  background-size: cover;
  /* background-attachment: fixed; */
}
.head {
  position: absolute;
  top: 8px;
  left: 16px;
  color: aliceblue;
  letter-spacing: 15px;
  font-family: "Lora", serif;
}
.content {
  position: absolute;
  top: 101px;
  left: 14px;
  width: 1200px;
  color: aliceblue;
  letter-spacing: 0.5px;
  font-family: "Lora", serif;
}
.content2 {
  position: absolute;
  width: 1200px;
  top: 220px;
  left: 14px;
  color: aliceblue;
  letter-spacing: 0.5px;
  font-family: "Lora", serif;
}
